body {
    background-color: black;
}

.main {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: row;
}

.com {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 25px;
    background-color: white;
    padding: 10px;
    border-radius: 20px;
    box-shadow: 2px 5px 5px 2px aqua;
    cursor: pointer;
}

.multi {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 25px;
    background-color: white;
    padding: 10px;
    border-radius: 20px;
    box-shadow: 2px 5px 5px 2px aqua;
    cursor: pointer;
}

img {
    width: 250px;
    height: 250px;
}

span {
    font-size: 30px;
    font-family: 'Orelega One', cursive;
    font-weight: 900;
    color: gray
}

.info {
    position: absolute;
    top: 50%;
    left: 50%;
    display: none;
    transform: translate(-50%, -50%);
    background-color: white;
    width: 400px;
    height: 200px;
    border: 5px solid blue;
    padding-top: 2px;
    padding-left: 20px;
}

label {
    font-size: 22px;
    text-transform: uppercase;
    font-family: 'Orelega One', cursive;
}

input {
    font-size: 20px;
    text-transform: uppercase;
    font-family: 'Orelega One', cursive;
    width: 250px;
}

.title {
    text-transform: uppercase;
    font-family: 'Orelega One', cursive;
}

.btn1 {
    font-size: 20px;
    margin-left: 220px;
    border-radius: 5px;
    font-family: 'Orelega One', cursive;
    width: 150px;
}

.btn1:hover {
    color: white;
    border-radius: 5px;
    background-color: rgb(90, 88, 238);
}